html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100%;
    position:relative;
    padding:0;
    padding-bottom:85px;

}

nav {
}

main {
    padding: 10px 10px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #ff66ff;
    width: 100%;
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 25px;
    border-radius: 1%;
}
p {
    color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #ff66ff 0%, #99ccff 100%);
}

li {
    float: left;
}

.nav_item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #99ccff;
}

.small {
    width: 576px;
    height: 324px;
}


.logo {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    main {
        display: block;
    }

    .small {
        margin: auto;
        width: 95%;
        height: auto;
    }

    video {
        height: auto;
    }

    .card {
        margin: 15px 0 0 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}
#kartta {
    height:500px;
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 10px 10px;
    }

#karttateksti {
    font-family: Georgia;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}