#kartta {
    height:500px;
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 10px 10px;
    }

#karttateksti {
    font-family: Georgia;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}
footer {
    bottom:auto;
}