h1, h2 {
    font-family: "Comic Sans MS";
    text-align: center;
}

.game {
    position: relative;
    width: 500px;
    height: 500px;
}

#cupcake {
    position: absolute;
    top: 0;
    left: 0;
}

img {
    height: 60px;
    width: 60px;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeBack {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}


.popped {
    animation-duration: 0.5s;
    animation-name: fade;
}

.appear {
    animation-duration: 0.5s;
    animation-name: fadeBack;
}