table {
    width: 100%;
    margin-bottom: 15px;
}

td {
    text-align: center;
}

input {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    input {
        width: 100%;
    }
}