
.sisalto {display:flex; flex-direction:row; justify-content: center;
}
.klassi{
margin:auto;
}
img {
    border-radius: 50%;
}
#tekijat {
    margin-top:300px;
}
h1 {

    display: block;
    font-size: 5em;
    font-family: Georgia;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}
p {
    font-family: "Georgia", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #ff66ff 0%, #99ccff 100%);
}

li {
    float: left;
}

.nav_item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 26px;
    text-decoration: none;
}

li a.nav_item:hover {
    background-color: #99ccff;
}
footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #ff66ff;
    min-width: 100%;
}
