
.sisalto {display:flex; flex-direction:row; justify-content: center;
}
.klassi{
margin:auto;
}
img {
    border-radius: 50%;
}
#tekijat {
    margin-top:0px;
}
h1 {

    display: block;
    font-size: 3em;
    font-family: Verdana, "sans-serif";
    text-align: center;

}
.klassi p {
    font-family: "Georgia", sans-serif;
}

.logo {
    width: 70px;
    height:70px;
}
nav {
    width:100%;
}
body {
    margin:0;
    padding:0;
}
nav .icon{
    display:none;
}
@media screen and (max-width: 721px) {
    nav li:not(:first-child) {display:none;}
    nav a.icon{
        float:right;
        display:block;

    }
}
@media screen and (max-width: 721px) {
    .navi.responsive {position: relative;}
    .navi.responsive a.icon{
        position:absolute;
        right:0;
        top:0;
    }
    .navi.responsive li {
        float:none;
        display: block;
        text-align: left;
    }
}

