#kartta {height:400px; width:100%;}
p {
    font-family: "Georgia";
}
p {color: green;}
.kuva1 {
    border-radius: 50%;
}
.polaroid {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.container {

    padding: 10px 20px;
}
h1 {

    display: block;
    font-size: 7em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

